@model List<ProcessViewModel>


@{
    ViewData["Title"] = "Home";
}

<div class="card" id="ProcessesCard">
    <div class="card-header">
        <h2 class="display-4">Processes</h2>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            <div>
                @item.Name (@item.Count.ToString())

                @Html.ActionLink(
                  "Kill Process",                   // Button Text
                  "KillProcess",                    // controller action
                  "Home",                           // controller
                  new { processName = @item.Name }, // action parameters aka route values
                  new { @class = "btn btn-danger", @style = "float:right" })  @* html attributes *@

            </div>
            <br />
        }
    </div>
</div>



