@model List<ProcessViewModel>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Processes</h1> 
</div>

 

@foreach (var item in Model)
{
<div>
    @item.Name (@item.Count.ToString())
    @Html.ActionLink("Kill Process", "KillProcess", new { processName = @item.Name })
    <hr />
</div>
}