
@{
    ViewData["Title"] = "Home";
}

<div class="card" id="ProcessesCard">
    <div class="card-header">
        <h2 class="display-4">Processes</h2>
    </div>
 
        <div  class="card-body" id="processContainer"></div>


</div>


<hr />
<div>
    <h6>Last Updated Date: <span class="lastUpdatedDate"></span></h6>
</div>

